@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    237 Essex Street<br />
    West Footscray, VIC 3012<br />
    <abbr title="Phone">P:</abbr>
    0426745116
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@greenrevolution.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@greenrevolution.com</a>
</address>